body {
  font-family: Arial;
  background: #f0f2f5;
}

#login, #chat {
  max-width: 400px;
  margin: 30px auto;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

#messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
}